body {
    background: url("../image/webbg1.2e5e9f771b10.jpg") no-repeat center center fixed;
    background-size: cover;
}

.row {
    height: auto;
    margin: auto;
}

.welcome-div {
    text-align: center;
}
.welcome-text{
    font-style: normal;
    text-shadow: black;
    font-size: 40pt;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

#welcome-but-start {
    transition: transform .2s;
    background-color: #ffdb58;
    font-size : 20pt;
    font-family: 'Signika Negative', sans-serif;
    border-color: transparent;
    background-radius: 20pt;

}


#welcome-but-start:hover{
    transform: scale(1.25);
}
