.page {
    width: auto;
    height: auto;
    margin: auto;
}
.banner {
    padding:80px; 
    text-align:center;
    background: url(../image/realbanner.jpg) no-repeat ;
 

}

.row {
    padding-top: 10px;
}

.iconname {
    font-family: 'Raleway';
    text-align: center; 
}

.usericon {
    font-size: 20pt;
    padding-top: 3px;
}

#content {
    text-align: center;
}

#imagebox {
    border-color: grey;
}
