{% extends 'base_template.html' %}

{% block content %}
{% load static %}
{% load diplay_tag profile_tag %}
<title>Add recipe</title>
<style>
    .invalid {
    border-color : red;
    }
    .formbox {
        width: 800px;
    }
    .savebutton {
        margin-left: 10px;
    }
    .cir-but {
        margin-left: 10px;
        width: 45px;
    }
    .ing {
        padding: 25px 0 0 0;
    }
    .directionbox {
        width: 1700px;
    margin: 0 0 20px 0;
    }
</style>
<script>

    var ingredients_count = 0;
    var textarea_count = 0;
    var measurement;
    var ingredient;
    var directions;
    $(function () {
        var name = document.getElementById("name-input");
        var info = document.getElementById("info-input");
        //var formbox = document.getElementsByClassName("formbox");
        measurement = document.getElementsByClassName("measurements");
        ingredient = document.getElementsByClassName("ingredients");
        directions = document.getElementsByClassName("directionbox");
        invalidType(name);
        invalidType(info);
        invalidType(directions[0]);
        //checkMeastureAndIngredient();
        if (directions.length >= 0) {
            for (var i = 0; i < directions.length; i++) {
                // if (directions[i].value.length === 0 ) {
                //     for (var j = i ; j < directions.length ; j++) {
                //         if (directions[j].value.length > 0) invalidInput(directions[i]);
                //     }
                // }
                invalidType(directions[i]);
            }
        }





        $('.savebutton').on('click', function () {
            invalidInput(name);
            invalidInput(info);
            for (var i = 0; i < directions.length; i++) {
                // if (directions[i].value.length === 0 ) {
                //     for (var j = i ; j < directions.length ; j++) {
                //         if (directions[j].value.length > 0) invalidInput(directions[i]);
                //     }
                // }
                invalidInput(directions[i]);
            }
            for (var i = 0; i < measurement.length; i++) {
                if (measurement[i].value.length === 0 || ingredient[i].value.length === 0) {
                    invalidInput(measurement[i]);
                    invalidInput(ingredient[i]);
                }
            }



        });
    });

    function invalidType(textbox) {
        textbox.addEventListener('keyup', function () {
            if (textbox.value.length === 0) textbox.classList.add('invalid');
            else textbox.classList.remove("invalid");
        });
    }

    function invalidInput(textbox) {
        if (textbox.value.length === 0) {
            textbox.className += " invalid";
        }
        else textbox.classList.remove('invalid');
    }

    function addform() {
        ingredients_count += 1;
        $("#addmeasureandingre").append("<div class='row ing' id='ingredients-" + ingredients_count + "' style='width: 1800px;'><div class='col-6'><input type='text' id='ingre-id-measurement-" + ingredients_count + "' class='form-control formbox measurements'></div><div class='col-5'><input type='text' id='ingre-id-ingredients-" + ingredients_count + "' class='form-control formbox ingredients'></div>");
    }
    function removeform() {
        if (ingredients_count > 0) {
            $("#ingredients-" + ingredients_count).remove();
            ingredients_count -= 1;
        }
    }

</script>

<script>

    function addbox() {
        textarea_count += 1;
        $("#addtextarea").append("<textarea class='form-control directionbox' id='textarea-" + textarea_count + "' rows='3'></textarea>");
    }
    function removebox() {
        if (textarea_count > 0) {
            $("#textarea-" + textarea_count).remove();
            textarea_count -= 1;
        }
    }
// function deletebox() {  
//     a = document.getElementById("addtextarea");
//     a.innerHTML -= "<div id='addtextarea'><textarea class='form-control directionbox' id='textarea-"+textarea_count+"' rows='3'></textarea></div>"
//     textarea_count-=1;
// }


</script>


{% if user.is_authenticated or user.username|length > 0 %}
    {% get_last_alias_from_user author_alias user.username as current_user_alias %}
    <form action="" method="post">
<div class="page_add">
    <b id="header"> Add Recipe </b>
    <div id="firstform">
        <br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <label for="name-input"></label><input class="form-control info" id="name-input">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Infomation: </label>
                <div class="col-sm-10">
                    <input class="form-control info" id="info-input">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Chef: </label>
                <div class="col-sm-10">
                    {% if current_user_alias %}
                    <p style="font-size:25px; margin-top:12px;">{{ current_user_alias }}</p>
                        {% else %}
                    <p style="font-size:25px; margin-top:12px;">{{ user.username }}</p>
                    {% endif %}
                </div>
            </div>
    </div>



    <b id="header"> Ingredients </b>
    <div class="ingredients_part">
        <div>
            <button class="w3-button w3-circle cir-but " onclick="addform()" id="buttonaddingre">+</button>
            <button class="w3-button w3-circle cir-but" onclick="removeform()" id="buttonaddingre">-</button>

        </div>

        <div class="row">
            <div class="col">
                <h2 style="text-align: center;">Measurement</h2>
            </div>
            <div class="col">
                <h2 style="text-align: center;">Ingredients</h2>
            </div>
        </div>

            <div id="addmeasureandingre">
                <div class='row ing' id='ingredients-0' style='width: 1800px;'>
                    <div class='col-6'>
                        <input type='text' id='ingre-id-measurement-0' class='form-control formbox measurements'></div>
                    <div class='col-5'>
                        <input type='text' id='ingre-id-ingredients-0' class='form-control formbox ingredients'></div>
                    <!-- <div class="row" id="ingredients">
                    <div class="col">
                        <input type="text" class="form-control formbox measurements" id="ingre-id-measurement-0">
                    </div>
                    <div class="col" style="margin-left:12px;">
                        <input type="text" class="form-control formbox ingredients" id="ingre-id-ingredients-0">
                    </div>
                </div> -->
                </div>
            </div>
    </div>
</div>



<b id="header"> Directions </b>
<div id="directionspart">

    <div style="margin-bottom: 40px;">
        <button class="w3-button w3-circle cir-but" onclick="addbox()" id="buttonadddirection">+</button>
        <button class="w3-button w3-circle cir-but" onclick="removebox()" id="buttonadddirection">-</button>
        <br>
    </div>
    
    <div id="addtextarea">
        <textarea class="form-control directionbox" rows="3" id="textarea-0"></textarea>
    </div>

</div>



<div id="imagepart">
    <b id="header"> Image </b>
    <div class="row addimagepart">
        <div class="col-2 imagefont">
            <p style="margin-bottom:16px;"> Recipe image 1: </p>
            <p style="margin-bottom:16px;"> Recipe image 2: </p>
            <p style="margin-bottom:17px;"> Recipe image 3: </p>
            <p> Recipe image 4: </p>
        </div>

        <div class="col-3">
            <div class="btn-group-vertical " style="margin-top: 30px; width:350px;">
                <input type="file" class="btn btn-outline-secondary  buttonimage" accept="image/*" id="image1"
                       value="Choose Image"/>
                <input type="file" class="btn btn-outline-secondary  buttonimage" accept="image/*" id="image2" value="Choose Image"/>
                <input type="file" class="btn btn-outline-secondary  buttonimage" accept="image/*" id="image3" value="Choose Image"/>
                <input type="file" class="btn btn-outline-secondary  buttonimage" accept="image/*" id="image4" value="Choose Image"/>
            </div>
        </div>

        <div class="col-3 ">
            <p class="requireimage"> (Image 1 is Require.) </p>
        </div>

        <div class="col-4" style="align:right;">
            <div id="cat">
                <div id="headercheck"><b>CATEGORIES</b></div>
                <hr>
            </div>
            <div class="row" align="left">
                <div class="col-md-6">

                    <label class="containerfilter textfilter">Appetizers
                        <input type="checkbox" id="appetizer" name="check_category" value="appetizer">
                        <span class="checkmark bigger"></span>
                    </label>
                    <label class="containerfilter textfilter">Salad
                        <input type="checkbox" id="salad" name="check_category" value="salad">
                        <span class="checkmark bigger"></span>
                    </label>
                    <label class="containerfilter textfilter">Main dish
                        <input type="checkbox" id="main-dish" name="check_category" value="main">
                        <span class="checkmark bigger"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="containerfilter textfilter">Soup and Stew
                        <input type="checkbox" id="soup-and-stew" name="check_category" value="soup">
                        <span class="checkmark bigger"></span>
                    </label>
                    <label class="containerfilter textfilter">Dessert
                        <input type="checkbox" id="dessert" name="check_category" value="dessert">
                        <span class="checkmark bigger"></span>
                    </label>
                    <label class="containerfilter textfilter">Drink
                        <input type="checkbox" id="drink" name="check_category" value="drink">
                        <span class="checkmark bigger"></span>
                    </label>
                </div>
            </div>

        </div>

    </div>



</div>


<div class="row centerpage" style="margin: 30px 80px 0 80px;">
    <div class="col-4">
        <div id="time">
            <div id="headercheck"><b>TIME PREP</b></div>
            <hr>
        </div>
        <div class="row" align="left">
            <div class="col-md-6">

                <label class="containerfilter textfilter">15 minutes
                    <input type="checkbox" id="t15-min" name="check_time" value="15_min">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">1 Hour
                    <input type="checkbox" id="t1-hr" name="check_time" value="1_hour">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">2 Hours
                    <input type="checkbox" id="t2-hr" name="check_time" value="2_hour">
                    <span class="checkmark bigger"></span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="containerfilter textfilter">30 minutes
                    <input type="checkbox" id="t30-min" name="check_time" value="30_min">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">1 Half Hours
                    <input type="checkbox" id="t1-hr-30-min" name="check_time" value="1_half_hour">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Over 2 hrs
                    <input type="checkbox" id="tmore-than-2-hr" name="check_time" value="over_2_hour">
                    <span class="checkmark bigger"></span>
                </label>

            </div>
        </div>
    </div>

    <div class="col-4" style="flaot:center;">
        <div id="Equip">
            <div id="headercheck"><b>EQUIPMENT</b></div>
            <hr>
        </div>
        <div class="row" align="left">
            <div class="col-md-6">
                <label class="containerfilter textfilter">Oven
                    <input type="checkbox" id="oven" name="check_equipment" value="oven">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Microwave
                    <input type="checkbox" id="microwave" name="check_equipment" value="microwave">
                    <span class="checkmark bigger"></span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="containerfilter textfilter">Mixer
                    <input type="checkbox" id="mixer" name="check_equipment" value="mixer">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Blender
                    <input type="checkbox" id="blender" name="check_equipment" value="blender">
                    <span class="checkmark bigger"></span>
                </label>
            </div>
        </div>
    </div>


    <div class="col-4" style="flaot:center;">
        <div id="aller">
            <div id="headercheck"><b>ALLERGIES</b></div>
            <hr>
        </div>
        <div class="row" align="left">
            <div class="col-md-6">

                <label class="containerfilter textfilter">Nuts
                    <input type="checkbox" id="nuts" name="check_allergies" value="nut">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Milk
                    <input type="checkbox" id="milk" name="check_allergies" value="milk">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Shrimp
                    <input type="checkbox" id="shrimp" name="check_allergies" value="shrimp">
                    <span class="checkmark bigger"></span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="containerfilter textfilter">Shellfish
                    <input type="checkbox" id="shellfish" name="check_allergies" value="shellfish">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Soy
                    <input type="checkbox" name="check_allergies" value="soy">
                    <span class="checkmark bigger"></span>
                </label>
                <label class="containerfilter textfilter">Egg
                    <input type="checkbox" id="egg" name="check_allergies" value="egg">
                    <span class="checkmark bigger"></span>
                </label>
            </div>
        </div>

    </div>
</div>

<div class="row centerpage" style="margin: 30px 80px 30px 80px;">
    <div class="col-4">
        <button type="button" onclick="location.href='{% url 'cookbook:profile' %}'" class="btn btn-outline-dark savebutton">Cancel</button>
        <button type="button" class="btn btn-outline-danger savebutton">Delete</button>
    </div>
    <div class="col-8" style="text-align:right;">
        <button type="submit" class="btn btn-success savebutton">Save and add other</button>
        <button type="submit" class="btn btn-outline-success savebutton">Save</button>
    </div>
</div>
    </form>
{% else %}
     <div class="col-md-3" id="user-profile">
     You haven't login yet
    <button class="btn azm-social azm-btn azm-border-bottom btn-warning" id="continue-login-button" onclick="location.href='{% url 'cookbook:index' %}'" style="color: white; font-size: 40px">Back to main page </button>
     </div>
{% endif %}

{% endblock %}