{% extends 'base_template.html' %}

{% block content %}
{% load static %}
{% load diplay_tag %}
<title>display</title>


    {% block suggest %}
    {% include 'suggestion.html' with recipe=recipe_suggest %}
    {% endblock %}

<div class="header-big">
    <h3><b>CATEGORY</b></h3>
</div>

<div class="nav row btn-group" id="category-button">
        <a id="cat-but-all-tab" data-toggle="tab" href="#cat-but-all" role="tab" aria-controls="cat-but-all" aria-selected="true"><button class="btncat active actived" >All Recipe</button></a>
        <a id="cat-but-appetizers-tab" data-toggle="tab" href="#cat-but-appetizers" role="tab" aria-controls="cat-but-appetizers" aria-selected="false"><button class="btncat">Appetizers</button></a>
        <a id="cat-but-main-tab" data-toggle="tab" href="#cat-but-main" role="tab" aria-controls="cat-but-main" aria-selected="false"><button class="btncat" >Main Dishes</button></a>
        <a id="cat-but-soup-tab" data-toggle="tab" href="#cat-but-soup" role="tab" aria-controls="cat-but-soup" aria-selected="false"><button class="btncat" >Soups & Stews</button></a>
        <a id="cat-but-desserts-tab" data-toggle="tab" href="#cat-but-desserts" role="tab" aria-controls="cat-but-desserts" aria-selected="false"><button class="btncat">Desserts</button></a>
        <a id="cat-but-drinks-tab" data-toggle="tab" href="#cat-but-drinks" role="tab" aria-controls="cat-but-drinks" aria-selected="false"><button class="btncat">Drinks</button></a>
        <a id="cat-but-salad-tab" data-toggle="tab" href="#cat-but-salad" role="tab" aria-controls="cat-but-salad" aria-selected="false"><button class="btncat">Salad</button></a>
</div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="cat-but-all" role="tabpanel" aria-labelledby="cat-but-all-tab">
            {% include 'show_menu.html' with recipe_show=recipe_all %}
        </div>

        <div class="tab-pane fade" id="cat-but-appetizers" role="tabpanel" aria-labelledby="cat-but-appertizers-tab">
            {% include 'show_menu.html' with recipe_show=recipe_appetizer %}
        </div>

        <div class="tab-pane fade" id="cat-but-main" role="tabpanel" aria-labelledby="cat-but-main-tab">
            {% include 'show_menu.html' with recipe_show=recipe_main %}
        </div>

        <div class="tab-pane fade" id="cat-but-soup" role="tabpanel" aria-labelledby="cat-but-soup-tab">
            {% include 'show_menu.html' with recipe_show=recipe_soup %}
        </div>

        <div class="tab-pane fade" id="cat-but-desserts" role="tabpanel" aria-labelledby="cat-but-desserts-tab">
            {% include 'show_menu.html' with recipe_show=recipe_dessert %}
        </div>

        <div class="tab-pane fade" id="cat-but-drinks" role="tabpanel" aria-labelledby="cat-but-drinks-tab">
            {% include 'show_menu.html' with recipe_show=recipe_drink %}
        </div>

        <div class="tab-pane fade" id="cat-but-salad" role="tabpanel" aria-labelledby="cat-but-salad-tab">
            {% include 'show_menu.html' with recipe_show=recipe_salad %}
        </div>
    </div>
<button id="showmore">Show more</button>

<script>
let all = document.getElementsByTagName("p");
for (let i=0, max=all.length; i < max; i++) {
    let text = all[i].innerText;
    if (text.length > 90) {
        text = text.substr(0, 90) + "...";
    }
    all[i].innerText = text;
}
</script>

{% endblock %}
