<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/login-style.css">
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Login with Google</title>
</head>

<body class="page">
    <div class="container box">
        <div class="row" id="content">
            <div class="col-md-5 ml-md-0 pl-md-0" style="width: auto;">
                <div id="login-header-container-google">
                    Welcome to "Organic Recipe"
                </div>
                <div id="login-login-container">
                    <br>
                    <h2>Google Login</h2>
                    <br>
                    <div style="padding-left: 90px; padding-right: 90px;">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="google-email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="google-password" placeholder="Password">
                            </div>
                            <button type="button" class="btn btn-danger" id="google-login">Login</button>
                            <button type="button" class="btn btn-warning" id="guest-button">Guest</button>
                        </form>
                        <div style="width: 100%; height: 10px; border-bottom: 1px solid black; text-align: center">
                                <span style="font-size: 20px; background-color:white; padding: 0 15px;">
                                  OR
                                </span>
                              </div>
                        <button href="#" class="btn azm-social azm-btn azm-border-bottom azm-facebook" id="organic-login-button" style="color: white">
                            <img src="../static/image/organiclogo.png" style="width: 20px;" alt=""> Log in with Organic Recipe</button>
                        <button href="#" class="btn azm-social azm-btn azm-border-bottom azm-facebook" id="facebook-login-button" style="color: white">
                            <i class="fab fa-facebook-f" style="color: white;"></i> Log in with Facebook</button>

                    </div>
                </div>
            </div>

            <div class="col-md-7">

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>