<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Menu</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/menu-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet">
  </head>

<body class="page">
        <div class="banner"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 iconname">
                    <img src="../static/image/icon.jpg" height = "42" alt=""></img>
                    Whole food cookbook
                </div>
                <div class="col-sm-4 searchbox">
                    <div class="input-group mb-3 ">
                        <input type="text" class="form-control"  aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="menu-but-search">Search</button>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <i class="far fa-user usericon"></i> User login (Google)
                </div>
            </div>

            <div class="row" id="content">
                <div class="col-sm-4" style="color:dimgray;">
                    <h4>Chicken Grill with Pineapple</h4>
                    <p style="text-align:right"> By Chef: Wan </p>
                    <div class="menu-image">
                        <img src="../static/image/mockfood.jpg" width="350" alt="food image">
                    </div>
                    <br>
                    <p style="text-align:center;">
                        "Description of this food."
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                            <div class="boxed" id = "menu-info">
                                <div id="info-calories"><i class="fas fa-dumbbell"></i> 350 cal</div>
                                <br>
                                <div id="info-type"><i class="fas fa-burn"></i> Grilled</div>
                                <br>
                                <div id="info-time"><i class="far fa-clock"></i> 30 years</div>
                                <br>
                                <div id="info-rate">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        Difficult
                                </div>
                            </div>
                       
                    </div>
                    <div class="row">
                        <div class="boxed" id="menu-ingre">
                            <h5>Ingredient:</h5>
                            <div id="ingre-details"> may be unordered list? up to RIRI</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="boxed" id="menu-method">
                            <h5>Methods</h5>
                            <div id="method-details">
                                 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="boxed" id="menu-review">
                            <h5>Review</h5>
                            <div id="review-comment">
                                <!-- Show old comment -->

                            </div>
                            <div class="stars">
                                    <form action="">
                                      <input class="star star-5" id="star-5" type="radio" name="star"/>
                                      <label class="star star-5" for="star-5"></label>
                                      <input class="star star-4" id="star-4" type="radio" name="star"/>
                                      <label class="star star-4" for="star-4"></label>
                                      <input class="star star-3" id="star-3" type="radio" name="star"/>
                                      <label class="star star-3" for="star-3"></label>
                                      <input class="star star-2" id="star-2" type="radio" name="star"/>
                                      <label class="star star-2" for="star-2"></label>
                                      <input class="star star-1" id="star-1" type="radio" name="star"/>
                                      <label class="star star-1" for="star-1"></label>
                                    </form>
                            </div>
                            <div class="input-group mb-3 mycommemt">
                                    <input type="text" class="form-control" placeholder="comment" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary" type="button" id="review-submit-but">Submit</button>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    
</body>
</html>