{% extends 'base_template.html' %}
    {% block content %}

    <div class="container user-content">
        <div class="row profile">
            <div class="col-md-3" id="user-profile">
                User Profile
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1" id="edit-icon">
                <i class="far fa-edit" id="edit-icon"></i>
            </div>
        </div>
        <div class="row detail">
            <div class="col-md-4" id="profile-pic">
                <i class="fas fa-user-circle" id="profile-pic"></i>
            </div>
            <div class="col-md-4" id="profile-detail">
                <div class="row1" id="fullname">Manussporn Fukkham</div>
                <div class="row2" id="email">darmonlyone@gmail.com</div>
                <div class="row3"> <b>Alias: </b>
                    <div style="display:inline; color : grey;">Darm</div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light justify-content-between bar"></nav>
    <div class="container user-post m-0">
        <div class="row recipe-post">
            <div class="col-md-12"> <b id="recipepost">Manussporn Fukkham's Recipe Posts </b>
                <div id="box" style="display:inline">0</div>
            </div>
        </div>
        <div class="row post-box centered"><p id="postbox">You haven't posted any recipe yet.</p></div>
    </div>
    <nav class="navbar navbar-light justify-content-between bar"></nav>
    {% endblock %}
