{% load diplay_tag static %}
<div class="container content">
    <div class="row" id="category-content">
        <!-- filter tab -->
        <div class="col-md-5 col-lg-3" id="filterby">

            <div class="row" id="filterby">
                <div id="timeprep">
                    <div id="header">TIME PREP</div>
                    <hr>
                </div>
                <div class="row" align="left">
                    <div class="col-md-6">

                        <label class="containerfilter">15 minutes
                            <input type="checkbox" class="check time-but" id="t15-min">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">1 Hour
                            <input type="checkbox" class="check time-but" id="t1-hr">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">2 Hours
                            <input type="checkbox" class="check time-but" id="t2-hr">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="containerfilter">30 minutes
                            <input type="checkbox" class="check time-but" id="t30-min">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">1 Half Hours
                            <input type="checkbox" class="check time-but" id="t1-hr-30-min">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Over 2 hrs
                            <input type="checkbox" class="check time-but" id="tmore-than-2-hr">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div id="Equipment">
                    <div id="header">EQUIPMENT</div>
                    <hr>
                </div>
                <div class="row" align="left">
                    <div class="col-md-6">

                        <label class="containerfilter">Oven
                            <input type="checkbox" class="check equip-but" id="oven">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Microwave
                            <input type="checkbox" class="check equip-but" id="microwave">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="containerfilter">Mixer
                            <input type="checkbox" class="check equip-but" id="mixer">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Blender
                            <input type="checkbox" class="check equip-but" id="blender">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>


                <div id="allergies">
                    <div id="header">ALLERGIES</div>
                    <hr>
                </div>
                <div class="row" align="left">
                    <div class="col-md-6">

                        <label class="containerfilter">Nuts
                            <input type="checkbox" class="check aller-but" id="nuts">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Milk
                            <input type="checkbox" class="check aller-but" id="milk">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Shrimp
                            <input type="checkbox" class="check aller-but" id="shrimp">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="containerfilter">Shellfish
                            <input type="checkbox" class="check aller-but" id="shellfish">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Soy
                            <input type="checkbox" class="check aller-but" id="soy">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containerfilter">Egg
                            <input type="checkbox" class="check aller-but" id="egg">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <button type="button" class="btn btn-light btn-lg btn-block" id="filter-but">Filter By</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block" id="clear-but">Clear Filter</button>
            </div>
        </div>

        <script>
            $(function () {
                $('#clear-but').on('click', function () {

                    var hidden = document.getElementsByClassName('unselected');
                    // hidden.classList.remove("unselected")
                    for (var i = 0; i < hidden.length; i++) {
                        hidden[i].classList.remove("display_in_box");
                        hidden[i].classList.remove("unselected");
                    }
                    var li = document.getElementsByName('li');
                    for (let k = 0 ; k < li.length; k++){
                      li[k].classList.add("display_in_box");
                    }
                    var timeType = ['15-min', '30-min', '1-hr', '2-hr', '1-hr-30-min', 'more-than-2-hr'];
                    var equipType = ['oven', 'mixer', 'blender', 'microwave'];
                    var allerType = ['nuts', 'shellfish', 'milk', 'shrimp', 'egg', 'soy'];
                    var filterbut = $('.check:checked');
                    if (filterbut.length > 0) {
                        for (var j = 0; j < filterbut.length; j++) {
                            filterbut[j].checked = false;
                        }
                    }
                });
                $('#filter-but').on('click', function () {
                    var hidden = document.getElementsByClassName('unselected');
                    // hidden.classList.remove("unselected")
                    for (var i = 0; i < hidden.length; i++) {
                        hidden[i].classList.remove("unselected");
                    }
                    var time = $('.time-but:checked');
                    var equip = $('.equip-but:checked');
                    var aller = $('.aller-but:checked');
                    var timeType = ['15-min', '30-min', '1-hr', '2-hr', '1-hr-30-min', 'more-than-2-hr'];
                    var equipType = ['oven', 'mixer', 'blender', 'microwave'];
                    var allerType = ['nuts', 'shellfish', 'milk', 'shrimp', 'egg', 'soy'];

                    /** ไม่กดอะไรไม่ต้องทำอะไร
                     * - วน .contain กลับมา -
                     */

                    /* time -start */
                    if (time.length > 0) {
                        for (var i = 0; i < timeType.length; i++) {
                            for (var j = 0; j < time.length; j++) {
                                var temp = time[j].id.replace("t", "");
                                if (timeType[i] === temp) timeType.splice(i, 1);
                            }
                        }
                        for (var i = 0; i < timeType.length; i++) {
                            var foodByTime = document.getElementsByClassName(timeType[i]);
                            for (var j = 0; j < foodByTime.length; j++) {
                                if (!foodByTime[j].classList.contains("unselected")){
                                    foodByTime[j].classList.remove("display_in_box");
                                    foodByTime[j].className += " unselected";
                                }
                                for (var k = 0; k < time.length; k++) {
                                    if (foodByTime[j].classList.contains(time[k])) {
                                        foodByTime[j].classList.remove("unselected");
                                        foodByTime[j].classList.add("display_in_box");
                                    }
                                }
                            }
                        }


                    }

                    /* equip - start*/
                    if (equip.length > 0) {
                        for (var i = 0; i < equipType.length; i++) {
                            for (var k = 0; k < equip.length; k++) {
                                if (equipType[i] === equip[k]) equipType.splice(i, 1);
                            }
                        }
                        for (var i = 0; i < equipType.length; i++) {
                            var foodByEquip = document.getElementsByClassName(equipType[i]);
                            for (var j = 0; j < foodByEquip.length; j++) {
                                if (!foodByTime[j].classList.contains("unselected")){
                                    foodByTime[j].classList.remove("display_in_box");
                                    foodByTime[j].className += " unselected";
                                }
                                for (var k = 0; k < equip.length; k++) {
                                    if (foodByEquip[j].classList.contains(equip[k])) {
                                        foodByEquip[j].classList.add("display_in_box");
                                        foodByEquip[j].remove("unselected");
                                    }
                                }
                            }
                        }

                    }
                    /* aller - start */
                    if (aller.length > 0) {
                        for (var i = 0; i < allerType.length; i++) {
                            var foodByAller = document.getElementsByClassName(aller[i]);
                            for (var j = 0; j < foodByAller.length; j++) {
                                if (!foodByTime[j].classList.contains("unselected")){
                                        foodByTime[j].classList.remove("display_in_box");
                                    foodByTime[j].className += " unselected";
                                }
                            }
                        }
                    }




                });

            });
        </script>

        <style>
            .unselected {
                display:none;
                width: 0;
                height: 0;
            }
            .display_in_box{
                display: -webkit-inline-box;
            }
        </style>
        <!-- แสดงเมนู -->
        <div class="col-md-7 col-lg-9" id="display-food">
            <ul id="{{ recipe_poin }}">
                    {% for recipe in recipe_show %}
                        <li class="display_in_box {{ recipe.get_all_tag_str }}">
                    <div class="card food-card {{ recipe.get_all_tag_str }}">
                        <a href="{% url 'cookbook:recipe' recipe.get_recipe_name %}" style="color:black; text-decoration:none;">
                            {% if recipe.get_recipe_image_1 %}
                            <img class="card-img-top" src="{{ recipe.get_recipe_image_1.url }}" alt="Card image cap">
                            {% else %}
                                <img class="card-img-top" src="{% static 'image/noimage.jpg' %}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <strong>{{ recipe.get_recipe_name }}</strong>
                                <p class="card-text {%replace_text_space recipe.get_recipe_name%}">{% cut_text_newline recipe.get_recipe_info %}</p>
                                <p style="float:left;">{{ recipe.get_recipe_chef }}</p>
                            </div>
                        </a>
                    </div>

                </li>
                    {% endfor %}
            </ul>
        </div>

    </div>

</div>