.welcomepage {
    background-image: url(./image/webbg1.jpg);
    width: auto;
    height: auto;
    background-size: 1920px;
    margin: auto;
}

.row {
    height: 300px;
}

.welcome-div {
    float: center;
    text-align: center;
}
.welcome-text{
    font-style: normal;
    text-shadow: 20px;
    font-size: 40pt;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#welcome-but-start {
    background-color: #ffdb58;
    font-size : 20pt;
    font-family: 'Raleway', sans-serif;
    border-color: transparent;
    background-radius: 20pt;
}

